
@model GetArticleVm


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Makale Detayı</h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>

                    <th>Başlık</th>
                    <th>Content Açıklama</th>
                    <th>Photo</th>
                    <th>CatagoryName</th>
                    <th>UserFullName</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Model.Title</td>
                    <td>@Model.Content</td>
                    <td>  <img src="@Model.ImagePath" /> </td>
                    <td>

                        @for (int i = 0; i < Model.CategoryName.Count; i++)
                        {
                            @Model.CategoryName[i]
                            <br />
                        }
                    </td> <td>@Model.UserFullName</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <a asp-action="List" class="btn btn-outline-success">Back To List</a>


        <a asp-action="Update" asp-route-id="@Model.ArticleID" class="btn btn-outline-success">Update</a>
    </div>
</div>

