@*@model Tuple<List<UpdateArticleVm> ,List<GetCategoryDTO> >*@
@model UpdateArticleVm


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Makale Düzenleme Panali</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Update" method="post" enctype="multipart/form-data" >
        <div class="card-body">

            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" type="text" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Content">content</label>
             @*   <input asp-for="Content" class="form-control" type="text" />*@
                <textarea  asp-for="Content" class="form-control" type="text" style="height:200px;" > </textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
              
                <input asp-for="ImagePath" type="hidden" />
            
                <input asp-for="ImagePath" src="@Model.ImagePath"  type="image" />
                
            </div>
            

            <div class="form-group">
                <label asp-for="Image">Image</label>
                <input asp-for="Image" class="form-control" type="file" />
                @*<span asp-validation-for="Image" class="text-danger"></span>*@
              </div>

         @*   <div>
                @foreach (var item in Model.getCategoryDTOs)
                {
                     @Html.HiddenFor(item.ID,)
                    <label>@item.Name</label>
                    if (item.IsSelected)
                    {
                        <input type="checkbox" checked/>
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                <span asp-validation-for="getCategoryDTOs" class="text-danger"></span>
                }
            </div>*@

            <div>
                @for (int i = 0; i < Model.getCategoryDTOs.Count; i++)
                {
                    <div class="col-md-2">
                        @Html.CheckBoxFor(Model=>Model.getCategoryDTOs[i].IsSelected)
                        <label> @Model.getCategoryDTOs[i].Name </label>
                        @Html.HiddenFor(Model=>Model.getCategoryDTOs[i].ID)
                        @Html.HiddenFor(Model=>Model.getCategoryDTOs[i].Name)
                    </div> 
                } 
                   
                <span asp-validation-for="getCategoryDTOs" class="text-danger"></span>
                
            </div>




            <div>
                <input asp-for="AppUserID" type="hidden" />
            </div>
            <div>
                <input asp-for="ID" type="hidden" />
            </div>
            <div class="card-footer">
            <button type="submit" class="btn btn-primary">Oluştur</button>
        </div>
        </div>
    </form>
</div>

     
 @* <div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Makale Oluşturma Paneli</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Create" method="post" enctype="multipart/form-data" >
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Item1[0].Title">Title</label>
                <input asp-for="Item1[0].Title" class="form-control" type="text" />
                <span asp-validation-for="Item1[0].Title" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Item1[0].Content">Content</label>
                <input asp-for="Item1[0].Content" class="form-control" type="text" />
                <span asp-validation-for="Item1[0].Content" class="text-danger"></span>
            </div>
               <div class="form-group">
                   <img src="@Model.Item1[0].ImagePath" />
               @* <label asp-for="Item1[0].ImagePath">Title</label>
                <input asp-for="Item1[0].ImagePath" class="form-control" type="text" />
                <span asp-validation-for="Item1[0].ImagePath" class="text-danger"></span>
            </div>
            <div>
                 @foreach (var item in Model.Item2)
                {
                    <label>@item.Name</label>
                    if (item.IsSelected)
                    {
                        <input type="checkbox" checked/>
                    }
                    else
                    {
                        <input type="checkbox" />
                    }
                }
                    
                            
                 
            </div>

        
        </div>
        <!-- /.card-body -->

      <div class="card-footer">
            <button type="submit" class="btn btn-primary">Oluştur</button>
        </div>
    </form>
</div>*@