@model List<GetArticleForComponentDTO>

@foreach (var item in Model)
{

    <div class="col-md-6">
        <div class="card card-widget">
            <div class="card-header">
                <div class="user-block">


                    <img class="img-circle" style="border-radius:50%;" src="@item.UserImage" alt="User Image">
                    <span class="username"><a asp-controller="user" asp-action="detail" asp-route-id="@item.UserId">@item.UserFullName</a></span>
                    <span class="description">Tarafından Paylaşıldı - @item.CreatedDate.ToString("dd MMMM dddd yyyy")</span>
                </div>
                <!-- /.user-block -->
               @* <div class="card-tools">
                    <button type="button" class="btn btn-tool" title="Mark as read">
                        <i class="far fa-circle"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>*@
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <img class="img-fluid pad" src="@item.Image" alt="makalenni resmi">
                <p><b>@item.Title</b></p>

                <p>
                     @for (int i = 0; i <item.Content.Split(' ','.',',').Length; i++)
                    {
                        @item.Content[i]
                    }
                    

                </p>
                <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.ArticleID">Devamını okumak için tıklayınız !...</a>
               @* <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>*@
             @*   <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>*@
                <span class="float-right text-muted">Begeni: @item.Like.Count() - Yorum: @item.Comments.Count()</span>
            </div>
            <!-- /.card-body -->
            @if (item.Comments.Count > 0)
            {
                @foreach (var comment in item.Comments.Take(3))
                {
                    <div class="card-footer card-comments">
                        <div class="card-comment">
                            <!-- User image -->
                            <a  asp-controller="user" asp-action="detail" asp-route-id="@comment.AppUserId"> <img class="img-circle img-xsm" style="border-radius:50%;" src="@comment.AppUser.ImagePath" alt="User Image"></a>                            
                            @*<div class="comment-text">*@
                                <span class="username">
                                    @comment.Text
                                    <span class="text-muted float-right float-end">@comment.CreatedDate.ToString()</span>
                                </span>
                                <!-- /.username -->
                                @*It is a long established fact that a reader will be distracted
                                by the readable content of a page when looking at its layout.*@
                            @* </div>*@
                            <!-- /.comment-text -->
                        </div>
                        @*<!-- /.card-comment -->
                        <div class="card-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="User Image">

                            <div class="comment-text">
                                <span class="username">
                                    Luna Stark
                                    <span class="text-muted float-right">8:03 PM Today</span>
                                </span><!-- /.username -->
                                It is a long established fact that a reader will be distracted
                                by the readable content of a page when looking at its layout.
                </div>
                            <!-- /.comment-text -->
                        </div>*@
                        <!-- /.card-comment -->
                    </div>
                }
            }

            <!-- /.card-footer -->
            @*<div class="card-footer">
                <form action="#" method="post">
                    <img class="img-fluid img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="Alt Text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                        <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                    </div>
                </form>
            </div>*@
            <!-- /.card-footer -->
        </div>
    </div>
}