@model List<ArticleListDto>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Makale Listesi</h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>

                    <th>Başlık</th>
                    <th>Content Açıklama</th>
                    <th>Photo</th>
                    <th>CatagoryName</th>
                    <th>UserFullName</th>

                </tr>

            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>
                            
                            @for (int i = 0; i < item.Content.Split(' ', '.', ',').Length; i++)
                            {
                                @item.Content[i]
                            }

                        </td>
                        <td>
                            <img src="@item.ImagePath" />
                        </td>
                        <td>
                            @for (int i = 0; i < item.ArticleCategories.Count; i++)
                            {
                                @item.ArticleCategories[i].Category.Name

                                <br />
                            }
                        </td>

                        <td>@item.AppUser.FullName</td>

                        <td>
                            <a asp-action="Detail" asp-route-id="@item.ID">
                                Detay
                            </a>
                        </td>



                    </tr>
                }



            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
